.item {
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;

    @media (hover: hover) {
        &:hover {
            background-color: #EBECED;
        }
    }
}

.completed {
    text-decoration: line-through;
    color: #787E9C;
}

.delete {
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            opacity: 0.6;
        }
    }
}

label {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
    pointer-events: none;

    position: relative;

    input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    span {
        height: 24px;
        padding-left: 36px;
        line-height: 1.5;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border: 1.5px solid #BDBCDB;
            border-radius: 4px;
            background-color: #fff;
            box-sizing: border-box;
        }
    }

    input:checked + span::before {
        background-color: #56BD6A;
        border-color: #56BD6A;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3332 1L4.99984 8.33333L1.6665 5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (max-width: 768px) {
    .item {
        padding: 16px;
    }
}
