form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;

    input {
        width: 100%;
        padding: 15px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 300;
        border: 0;
        background: #fff;
        outline: none;
        border-radius: 8px;
    }
}

.inputField {
    position: relative;
    flex: 1;

    input {
        width: 100%;
        padding-right: 40px;
    }
}

.add {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    width: fit-content;
    background: #4C54F4;
    color: #fff;

    @media (hover: hover) {
        &:hover:not(:disabled) {
            opacity: 0.9;
        }
    }

    &:disabled {
        pointer-events: none;
        cursor: default;
        opacity: 1;
        background-color: #787E9C4D;
    }
}

.clear {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    @media (hover: hover) {
        &:hover {
            opacity: 0.8;
        }
    }
}